
<div class="flex-col justify-content-center border border-primary bg-dark rounded fontsec map">
  <div class="text-center mt-1">
    <span class="text-primary"
      ><i>{{ sitio }}</i> - {{ address }} - {{localidad}}
    </span>
  </div>

  <div class="w-full mb-2 mt-2">
    <google-map
      [options]="opciones"
      [zoom]="15"
      [center]="{ lat: latitud, lng: longitud }"
      >
     <map-advanced-marker
        #markerElem="mapAdvancedMarker"
        [position]="{ lat: latitud, lng: longitud }"
        title = {{sitio}}
     />
    </google-map>
  </div>

<div class="text-center mt-1 mb-1">
  <a (click)="modalMap.close(false)" class="btn btn-outline-primary px-3 py-0 rounded-pill fontsec" style="font-size:.85rem;">
     {{ "Cerrar" }}
  </a>
</div>

</div>



<!--
<div class="card flex flex-col text-primary text-center bg-dark fontsec justify-around px-2">

  <div class="flex flex-col mt-2">
    <span class="my-2 text-center text-primary"
      >{{ sitio }} - {{ address }}</span
    >
  </div>

  <div class="w-full card flex flex-col align-items-center py-2 rounded mt-2">
    <google-map
      height="29rem"
      width="29rem"
      [options]="opciones"
      [zoom]="16"
      [center]="{ lat: latitud, lng: longitud }"
    >
      <map-advanced-marker
        #markerElem="mapAdvancedMarker"
        [position]="{ lat: latitud, lng: longitud }"
        title = {{sitio}}
      />
    </google-map>
  </div>

  <div class="flex mb-2 mt-2">
      <div (click)="modalMap.close(false)" class="btn btn-outline-primary px-3 py-0 text-center" style="font-size:.85rem;">
      {{ "Cerrar" }}
      </div>
  </div>

</div>
-->
