
<!-- Barra de Menu -->
<nav class="navbar navbar-expand-lg sticky-top fontsec bg-dark bg-opacity-10">
            
  <div class="container-fluid">
      
      <a href="index.html" class="navbar-brand">
        <img class="img-fluid i50c mt-2 ms-1" src="assets/Sol-LB.png">                
      </a>

      <img class="img-fluid mt-2 animate__animated animate__backInRight" src="assets/bandab50.png">

      <button class="navbar-toggler ms-auto me-1" type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#menuLateral"
          style="background-color: rgb(75, 75, 75);"
          >
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <section class="offcanvas offcanvas-start bg bg-dark bg-opacity-10" id="menuLateral" tabindex="-1">
        
          <div class="offcanvas-header" >
              <button class="btn-close"
              type="button"
              aria-label="Close" 
              data-bs-dismiss="offcanvas">
              </button>
          </div>

          <div class="offcanvas-body d-flex flex-column justify-content-between px=0">

              <ul class="navbar-nav fs-5 justify-content-end" 
              type="button"
              data-bs-dismiss="offcanvas"
              >

                  <li class="navbar-item p-1 py-md-1">
                    <a href="#" class="nav-item nav-link active mt-1  text-white">Inicio</a>
                  </li>
                  <li class="navbar-item p-1 py-md-1">
                    <a href="#discos" class="nav-item nav-link mt-1  text-white">Discos</a>
                  </li>
                  <li class="navbar-item p-1 py-md-1">
                    <a href="#historia" class="nav-item nav-link mt-1  text-white">Historia</a>
                  </li>
                  <li class="navbar-item p-1 py-md-1">
                    <a href="#fechas" class="nav-item nav-link mt-1  text-white">Fechas</a>
                  </li>
                  <li class="navbar-item p-1 py-md-1">
                    <a [href]="insta" class="nav-item nav-link" target="_blank">
                    <img src="assets/instagram.png" class="i30c me-2" alt="...">
                    </a>
                  </li>
              </ul>
          </div>   
      </section>
  </div>
</nav>

<!-- Primera Sección -->
<div class="container-fluid py-5" id="fechas">
  <div class="row justify-content-center g-5">

    <div class="col-md-5">
    
    <div class="container card bg-dark bg-opacity-10 mb-5 bg-body-tertiary rounded mt-5"> 
        <img src="assets/logo-LB380.png" class="img-fluid  mt-2 object-fit-cover 
              border border-success rounded animate__animated animate__fadeIn time_4" alt="...">
        <h3 class="card-title text-center text-white" style="font-style: italic;">
          en...
        </h3>
        <img [src]="escenario" class=" img-fluid autocenter mt-2 i250 ani" alt="...">
        <div class="card-body">
            <h3 class="card-title text-white text-center" style="font-size: 3rem;">
              {{fecha}}
            </h3>
            <p class="card-text text-white text-center " style="font-size: 1.25rem;">
              <i>Entradas, {{entradas}}</i>
            </p>
            <a (click)="verEnMapa()" class="btn btn-outline-primary px-4 py-0 rounded-pill fontsec">
              Ubicación
            </a>
        </div>
    </div>
  </div>
</div>

  <div class="row justify-content-center g-5">

    <div class="col-md-5">
    
      <div class="container card bg-dark bg-opacity-10 mb-5 bg-body-tertiary rounded mt-5"> 
          <img src="assets/logo-LB380.png" class="img-fluid  mt-2 object-fit-cover 
                border border-success rounded animate__animated animate__fadeIn time_4" alt="...">
          <h3 class="card-title text-center text-white" style="font-style: italic;">
            en...
          </h3>
          <img [src]="escenario1" class=" img-fluid autocenter mt-2 i250 ani" alt="...">
          <div class="card-body">
              <h3 class="card-title text-white text-center" style="font-size: 3rem;">
                {{fecha1}}
              </h3>
              <p class="card-text text-white text-center " style="font-size: 1.25rem;">
                <i>Entradas, {{entradas}}</i>
              </p>
              <a (click)="verEnMapa()" class="btn btn-outline-primary px-4 py-0 rounded-pill fontsec">
                Ubicación
              </a>
          </div>
      </div>
    

  </div>
</div>

<!-- Segunda Sección -->
<div class="container-fluid py-5" id="discos">

    <div class="container text-center">
        <div class="row g-5 justify-content-center">

          <!-- primer disco -->

            <div class="col-lg-6">  
              
                <div class="card bg-opacity-10 bg bg-dark mt-5">
                    <img class="img-fluid rounded mt-2 mb-2 border border-secondary ani" src="assets/ojoenchivilcoy.jpg">
                </div>
                 
                <div class="card mt-2 bg-opacity-10 bg bg-dark text-white" >
                    @for (sng of discos; track sng.id) {
                      @if(sng.disco =='Contrato Social'){ 
                        <i (click)= "openModal(modalSong, sng.id)"  class="mt-1 cursor"> 
                            {{sng.ord}} - {{sng.titulo}} - {{sng.dura}} 
                        </i>
                      } 
                    }
                </div>

                <a class="btn btn-outline-primary rounded-pill m-3 fontsec" [href]="you1" target="_blank">
                <i class="fab fa-youtube"></i> 
                ... escuchalas en Youtube
                </a>
                <a class="btn btn-outline-primary rounded-pill m-3 fontsec" [href]="insta" target="_blank">
                <i class="fab fa-instagram"></i>
                ... seguinos en Instagram
                </a>

                <div class="mt-2">
                  <i class="text-white fontsec">{{voz}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{bateria}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{bajo}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{guitarra}}</i>
                </div>
                <div class="mt-3">
                  <i class="text-white-50 fontsec">{{grab1}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{mezc1}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{lym}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{cyp}}</i>
                </div> 
              
              </div>

              <!-- segundo disco -->

              <div class="col-lg-6">            
                <div class="card bg-opacity-10 bg bg-dark  mt-5">
                    <img class="img-fluid rounded mt-2 mb-2 border border-secondary ani" src="assets/solorock.jpg">
                </div>

                <div class="card mt-2 bg-opacity-10 bg bg-dark text-white" >
                    @for (sng of discos; track sng.id) {       
                      @if(sng.disco =='Bajo la Luz de la Luna'){          
                        <i (click)= "openModal(modalSong, sng.id)"  class = "cursor">
                             {{sng.ord}} - {{sng.titulo}} - {{sng.dura}}
                        </i> 
                      }
                    }
                </div>

                <a class="btn btn-outline-primary rounded-pill m-3 fontsec" [href]="you2" target="_blank">
                <i class="fab fa-youtube"></i> 
                ... escuchalas en Youtube
                </a>
                <a class="btn btn-outline-primary rounded-pill m-3 fontsec" [href]="insta" target="_blank">
                <i class="fab fa-instagram"></i>
                ... seguinos en Instagram
                </a>

                <div>
                  <i class="text-white fontsec">{{voz}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{bateria}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{bajo}}</i>
                </div>
                <div>
                  <i class="text-white fontsec">{{guitarra}}</i>
                </div>
                
                <div class="mt-3">
                  <i class="text-white-50 fontsec">{{grab2}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{mezc2}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{lym}}</i>
                </div>
                <div>
                  <i class="text-white-50 fontsec">{{cyp}}</i>
                </div>

              </div>
        </div>
    </div>
</div>

<!-- Tercera seccion - Historia--> 
<div class="container-fluid py-5 text-center ani" id="historia">

    <div id="imagenes" class="carousel slide carousel-fade mt-5" data-bs-ride="carousel">
      
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#imagenes" data-bs-slide-to="7" aria-label="Slide 8"></button>            
        </div>

        <div class="carousel-inner">
          @for (item of images; track item.id) {
            @if(item.id == 1){
            <div class="carousel-item active" data-bs-interval="1750">
              <img [src]="item.img" class="img-fluid rounded d-block autocenter border" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>{{item.txt1}}</h5>
                  <p class="text-white-50">{{item.txt2}}.</p>
                </div>
            </div>
            } @else{
              <div class="carousel-item" data-bs-interval="1750">
                <img [src]="item.img" class="img-fluid rounded d-block autocenter border" alt="...">
                  <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{item.txt1}}</h5>
                    <p class="text-white-50">{{item.txt2}}.</p>
                  </div>
              </div>
            }
          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imagenes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imagenes" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<div class="container-fluid mt-3 mb-5">
    <div class="card bg-dark bg-opacity-10 mb-3 rounded text-center"> 
        <img src="assets/Sol-LB.png" class=" img-fluid i50c autocenter" alt="...">

            <b class="text-white" style="font-size: 1.25rem;">
              La Nueva Generación del Rock Rosarino
            </b>
            <b class="text-white-50 fontsec" style="font-size: .90rem;">
              Todos los derechos reservados de La Brava
            </b>
            <b class="text-white" style="font-size: 1.25rem;">
              Palta Producciones
            </b>

        <a href="#" class="btn btn-outline-primary autocenter rounded-pill px-4 py-1 mb-3 mt-1">
          <i class="fa fa-arrow-up"></i>
        </a>
    </div>

</div>


<!-- llamando al modalSong --> 
<ng-template #modalSong>
    <app-modalsong [tema]="song" [exitModal]="exitModal"/>
</ng-template>

