.i30x30{
    height: 30px;
    width: 30px;    
}
.i40x60{
    height: 60px;
    width: 80px;
}
.i50x50{
    height: 50px;
    width: 50px;
}
.i250{
    height: 250px;
    width: 250px;
}
.fz12{
    font-size:1.2rem;
}

.cursor {
    cursor: pointer;
  }
