/* You can add global styles to this file, and also import other style files */
body {
    background-image:url(assets/qsr3es2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .autocenter{
    width: auto;
    margin: auto auto; 
}

/**/
@font-face {
  font-family: "NewRocker";
  src: url("assets/fonts/NewRocker-Regular.ttf");
}
/**/


.fontgral {
  font-family: NewRocker, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: lighter;
}

.fontsec {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: initial;
  }

  nav, /*es para los elementos del nav, en este caso si no lo pongo funciona igual*/
  .offcanvas{
    background-color: brown; /*este no lo estoy usando*/
  }
  .navbar-toggler{
    border: none;
    border-color:blanchedalmond;
  }
  .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
  }
