/* You can add global styles to this file, and also import other style files */
body {
    background-image:url(assets/qsr3es2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .autocenter{
    width: auto;
    margin:0 auto; 
}

@font-face {
  font-family: "NewRocker";
  src: url("assets/fonts/NewRocker-Regular.ttf");
}

.fontgral {
  font-family: NewRocker, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: lighter;
}

.fontsec {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: initial;
  }

  nav, /**/
  .offcanvas{
    background-color: brown; /**/
  }
  .navbar-toggler{
    border: none;
    border-color:blanchedalmond;
  }
  .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
  }

  .time_4 {
    --animate-duration: 4s;
  }

  .ani {
    view-timeline-name: --imagen;
    view-timeline-axis: block;

    animation-timeline: --imagen;
    animation-name: anima;

    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
  }
  @keyframes anima{
    from{
      opacity: 0;
      scale: 25%;
    }
    to{
      opacity: 1;
      scale: 100%;
    }
  }

  .sli_2 {
    animation-duration: 1500ms;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      font-size: 400%;
      margin-top: 200%;
      width: 100%;
    }
    to {
      font-size: 200%;
      margin-top: 0%;
      width: 100%;
    }
  }
